# Email Spam Classifier

In [46]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib as plt
import string 
#%matplotlib inline
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.naive_bayes

In [6]:
os.listdir('/Users/KBrig/ML-Pipeline')

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'ML-Pipeline.ipynb',
 'README.md',
 'Spam.csv']

Data Reading and Exploring

In [25]:
##path='/Users/KBrig/ML-Pipeline/spam.csv'
EmData= pd.read_csv('Spam.csv',encoding='cp1252',dtype={'v2':str})

In [26]:
EmData.head(3)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [27]:
EmData=EmData[['v1','v2']]

In [28]:
EmData.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [29]:
EmData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
v1    5572 non-null object
v2    5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [30]:
EmData.groupby('v1').describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [31]:
EmData.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [32]:
EmData.columns=[['type','Email_body']]

In [33]:
EmData.head()

   type                                         Email_body
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
EmData.dtypes

type          object
Email_body    object
dtype: object

In [35]:
EmData['y']=EmData['type'].apply(lambda x: x =='spam')

In [36]:
EmData.head()

   type                                         Email_body      y
0   ham  Go until jurong point, crazy.. Available only ...  False
1   ham                      Ok lar... Joking wif u oni...  False
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...   True
3   ham  U dun say so early hor... U c already then say...  False
4   ham  Nah I don't think he goes to usf, he lives aro...  False

In [37]:
EmData['y']=EmData['y'].astype(int)

In [38]:
EmData.head()

   type                                         Email_body  y
0   ham  Go until jurong point, crazy.. Available only ...  0
1   ham                      Ok lar... Joking wif u oni...  0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...  1
3   ham  U dun say so early hor... U c already then say...  0
4   ham  Nah I don't think he goes to usf, he lives aro...  0

In [43]:
#EmData['type'] = EmData.type.astype('category')

#EmData.dtypes

type          object
Email_body    object
y              int32
dtype: object

In [40]:
#EmData['Email_body']=EmData['Email_body'].astype('|S')

In [44]:
#EmData['lngth']= EmData['Email_body'].str.len()

In [472]:
EmData.head()

   type                                         Email_body  y
0   ham  [Go until jurong point, crazy.. Available only...  0
1   ham                    [Ok lar... Joking wif u oni...]  0
2  spam  [Free entry in 2 a wkly comp to win FA Cup fin...  1
3   ham  [U dun say so early hor... U c already then sa...  0
4   ham  [Nah I don't think he goes to usf, he lives ar...  0

In [47]:
vect=CountVectorizer()

In [53]:
counts= vect.fit_transform(EmData['Email_body'].values)

AttributeError: 'numpy.ndarray' object has no attribute 'lower'